<footer class="footer footer--full footer--light">

  <div class="footer__bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md">
          <div class="footer--nav text-align-center">
            <ul class="nav-items nav-items--divider">
              <li class="nav-item">
                <a class="nav-link"
                   href="https://www.swisscom.ch/en/residential/legal-information.html"
                   target="_blank"
                   rel="noopener">
                  Legal aspects
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link"
                   href="https://www.swisscom.ch/en/residential/legal-notice.html"
                   target="_blank"
                   rel="noopener">
                  Imprint
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link"
                   href="https://www.swisscom.ch/en/residential/help/contact.html"
                   target="_blank"
                   rel="noopener">
                  Contact
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
