<div class="carousel margin-bottom-3" tabindex="0" data-init="auto">
  <div class="container">
    <div class="carousel__container">
      <div class="carousel__slider">
        <div class="carousel__slider-wrapper">

          <!-- Slides-->

          <div class="slide">
            <div class="card card--news">
              <div class="card__header" [translate]="'coupon.template.header'"></div>
              <div class="card__image" style="background-image:url('/assets/img/logo.png');"></div>
              <div class="card__body">
                <h4 [translate]="'coupon.template.amountText'"
                    class="card__title"></h4>
                <p [translate]="'coupon.template.from'"
                  class="text-b2 card__text"></p>
              </div>
            </div>
          </div>
          <div class="slide">
            <div class="card card--news">
              <div class="card__header">fdasdfas</div>
              <div class="card__image" style="background-image:url('/assets/img/logo.png');"></div>
              <div class="card__body">
                <h4 class="card__title">f dasfads </h4>
                <p class="text-b2 card__text">fdasfads </p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="carousel__pagination"></div>
      <div class="carousel__button-wrapper">
        <button class="carousel__button-prev"><i class="icon icon-014-chevron-left"></i></button>
        <button class="carousel__button-next"><i class="icon icon-015-chevron-right"></i></button>
      </div>
    </div>
  </div>
</div>
